<style>
  .two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .column {
    flex: 1 1 300px;
  }

  .column-right {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  }

  @media (max-width: 768px) {
    .two-column {
      flex-direction: column;
    }
  }
</style>

<div class="two-column m-3">
  <div class="column column-left">
    
    <div id="container" class="my-3">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated fadeIn p-4" data-wow-delay=".1s">
      </div>
    </div>
  </div>

  <div class="column column-right wow animated slideInUp" data-wow-delay=".1s">
    <h1>Joshua Ericson</h1>
    <h4>City and Regional Planning</h4>
    <p>Cal Poly San Luis Obispo <br>
      email: <a href="mailto:joshualericson@gmail.com">joshualericson@gmail.com</a>
    </p>
    {% include elements/button.html link="/assets/pdfs/JEricson Resume.pdf" text="View Resume" %}
    {% include elements/button.html link="https://digitalcommons.calpoly.edu/crpsp/302" text="Urban Planning for ASD" %}
  </div>
</div>